In [39]:
import pandas as pd

# Confirmed cases
confirmed_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
confirmed_df = pd.read_csv(confirmed_url)
print("Confirmed cases:\n", confirmed_df.head())

# Deaths
deaths_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"
deaths_df = pd.read_csv(deaths_url)
print("\nDeaths:\n", deaths_df.head())

# Recovered cases
recovered_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv"
recovered_df = pd.read_csv(recovered_url)
print("\nRecovered cases:\n", recovered_df.head())

Confirmed cases:
   Province/State Country/Region       Lat       Long  1/22/20  1/23/20  \
0            NaN    Afghanistan  33.93911  67.709953        0        0
1            NaN        Albania  41.15330  20.168300        0        0
2            NaN        Algeria  28.03390   1.659600        0        0
3            NaN        Andorra  42.50630   1.521800        0        0
4            NaN         Angola -11.20270  17.873900        0        0

   1/24/20  1/25/20  1/26/20  1/27/20  ...  2/28/23  3/1/23  3/2/23  3/3/23  \
0        0        0        0        0  ...   209322  209340  209358  209362
1        0        0        0        0  ...   334391  334408  334408  334427
2        0        0        0        0  ...   271441  271448  271463  271469
3        0        0        0        0  ...    47866   47875   47875   47875
4        0        0        0        0  ...   105255  105277  105277  105277

   3/4/23  3/5/23  3/6/23  3/7/23  3/8/23  3/9/23
0  209369  209390  209406  209436  209451  209451
1  334427  334427  334427  334427  334443  334457
2  271469  271477  271477  271490  271494  271496
3   47875   47875   47875   47875   47890   47890
4  105277  105277  105277  105277  105288  105288

[5 rows x 1147 columns]

Deaths:
   Province/State Country/Region       Lat       Long  1/22/20  1/23/20  \
0            NaN    Afghanistan  33.93911  67.709953        0        0
1            NaN        Albania  41.15330  20.168300        0        0
2            NaN        Algeria  28.03390   1.659600        0        0
3            NaN        Andorra  42.50630   1.521800        0        0
4            NaN         Angola -11.20270  17.873900        0        0

   1/24/20  1/25/20  1/26/20  1/27/20  ...  2/28/23  3/1/23  3/2/23  3/3/23  \
0        0        0        0        0  ...     7896    7896    7896    7896
1        0        0        0        0  ...     3598    3598    3598    3598
2        0        0        0        0  ...     6881    6881    6881    6881
3        0        0        0        0  ...      165     165     165     165
4        0        0        0        0  ...     1933    1933    1933    1933

   3/4/23  3/5/23  3/6/23  3/7/23  3/8/23  3/9/23
0    7896    7896    7896    7896    7896    7896
1    3598    3598    3598    3598    3598    3598
2    6881    6881    6881    6881    6881    6881
3     165     165     165     165     165     165
4    1933    1933    1933    1933    1933    1933

[5 rows x 1147 columns]

Recovered cases:
   Province/State Country/Region       Lat       Long  1/22/20  1/23/20  \
0            NaN    Afghanistan  33.93911  67.709953        0        0
1            NaN        Albania  41.15330  20.168300        0        0
2            NaN        Algeria  28.03390   1.659600        0        0
3            NaN        Andorra  42.50630   1.521800        0        0
4            NaN         Angola -11.20270  17.873900        0        0

   1/24/20  1/25/20  1/26/20  1/27/20  ...  2/28/23  3/1/23  3/2/23  3/3/23  \
0        0        0        0        0  ...        0       0       0       0
1        0        0        0        0  ...        0       0       0       0
2        0        0        0        0  ...        0       0       0       0
3        0        0        0        0  ...        0       0       0       0
4        0        0        0        0  ...        0       0       0       0

   3/4/23  3/5/23  3/6/23  3/7/23  3/8/23  3/9/23
0       0       0       0       0       0       0
1       0       0       0       0       0       0
2       0       0       0       0       0       0
3       0       0       0       0       0       0
4       0       0       0       0       0       0

[5 rows x 1147 columns]

In [40]:
confirmed_df.isnull().sum().sort_values(ascending=False)

Province/State    198
Lat                 2
Long                2
2/19/22             0
2/25/22             0
                 ...
2/11/21             0
2/12/21             0
2/13/21             0
2/14/21             0
3/9/23              0
Length: 1147, dtype: int64

In [41]:
deaths_df.isnull().sum().sort_values(ascending=False)

Province/State    198
Lat                 2
Long                2
2/19/22             0
2/25/22             0
                 ...
2/11/21             0
2/12/21             0
2/13/21             0
2/14/21             0
3/9/23              0
Length: 1147, dtype: int64

In [42]:
recovered_df.isnull().sum().sort_values(ascending=False)

Province/State    199
Lat                 1
Long                1
2/19/22             0
2/25/22             0
                 ...
2/11/21             0
2/12/21             0
2/13/21             0
2/14/21             0
3/9/23              0
Length: 1147, dtype: int64

In [43]:
deaths_df = deaths_df.drop('Province/State',axis =1)

# Melt the dataframe

id_vars = ['Country/Region', 'Lat', 'Long']
deaths_df_long = deaths_df.melt(id_vars=id_vars, var_name='Date', value_name='Confirmed_death')

# Convert the 'Date' column to datetime format

deaths_df_long['Date'] = pd.to_datetime(deaths_df_long['Date'])


deaths_df_long = deaths_df_long.groupby(['Country/Region','Lat','Long','Date'])['Confirmed_death'].sum().reset_index()

In [44]:
deaths_df_long

       Country/Region        Lat       Long       Date  Confirmed_death
0         Afghanistan  33.939110  67.709953 2020-01-22                0
1         Afghanistan  33.939110  67.709953 2020-01-23                0
2         Afghanistan  33.939110  67.709953 2020-01-24                0
3         Afghanistan  33.939110  67.709953 2020-01-25                0
4         Afghanistan  33.939110  67.709953 2020-01-26                0
...               ...        ...        ...        ...              ...
326893       Zimbabwe -19.015438  29.154857 2023-03-05             5668
326894       Zimbabwe -19.015438  29.154857 2023-03-06             5668
326895       Zimbabwe -19.015438  29.154857 2023-03-07             5668
326896       Zimbabwe -19.015438  29.154857 2023-03-08             5671
326897       Zimbabwe -19.015438  29.154857 2023-03-09             5671

[326898 rows x 5 columns]

In [45]:
confirmed_df = confirmed_df.drop('Province/State',axis =1)

# Melt the dataframe

id_vars = ['Country/Region', 'Lat', 'Long']
confirmed_df_long = confirmed_df.melt(id_vars=id_vars, var_name='Date', value_name='Confirmed')

# Convert the 'Date' column to datetime format

confirmed_df_long['Date'] = pd.to_datetime(confirmed_df_long['Date'])

confirmed_df_long = confirmed_df_long.groupby(['Country/Region','Lat','Long','Date'])['Confirmed'].sum().reset_index()

In [46]:
confirmed_df_long

       Country/Region        Lat       Long       Date  Confirmed
0         Afghanistan  33.939110  67.709953 2020-01-22          0
1         Afghanistan  33.939110  67.709953 2020-01-23          0
2         Afghanistan  33.939110  67.709953 2020-01-24          0
3         Afghanistan  33.939110  67.709953 2020-01-25          0
4         Afghanistan  33.939110  67.709953 2020-01-26          0
...               ...        ...        ...        ...        ...
326893       Zimbabwe -19.015438  29.154857 2023-03-05     264127
326894       Zimbabwe -19.015438  29.154857 2023-03-06     264127
326895       Zimbabwe -19.015438  29.154857 2023-03-07     264127
326896       Zimbabwe -19.015438  29.154857 2023-03-08     264276
326897       Zimbabwe -19.015438  29.154857 2023-03-09     264276

[326898 rows x 5 columns]

In [47]:
recovered_df = recovered_df.drop('Province/State',axis =1)

# Melt the dataframe

id_vars = ['Country/Region', 'Lat', 'Long']
recovered_df_long = recovered_df.melt(id_vars=id_vars, var_name='Date', value_name='Recovered')

# Convert the 'Date' column to datetime format

recovered_df_long['Date'] = pd.to_datetime(recovered_df_long['Date'])

recovered_df_long = recovered_df_long.groupby(['Country/Region','Lat','Long','Date'])['Recovered'].sum().reset_index()

In [48]:
recovered_df_long

       Country/Region        Lat       Long       Date  Recovered
0         Afghanistan  33.939110  67.709953 2020-01-22          0
1         Afghanistan  33.939110  67.709953 2020-01-23          0
2         Afghanistan  33.939110  67.709953 2020-01-24          0
3         Afghanistan  33.939110  67.709953 2020-01-25          0
4         Afghanistan  33.939110  67.709953 2020-01-26          0
...               ...        ...        ...        ...        ...
312034       Zimbabwe -19.015438  29.154857 2023-03-05          0
312035       Zimbabwe -19.015438  29.154857 2023-03-06          0
312036       Zimbabwe -19.015438  29.154857 2023-03-07          0
312037       Zimbabwe -19.015438  29.154857 2023-03-08          0
312038       Zimbabwe -19.015438  29.154857 2023-03-09          0

[312039 rows x 5 columns]

In [81]:
recovered_df_long['Country/Region'].nunique(), confirmed_df_long['Country/Region'].nunique(),deaths_df_long['Country/Region'].nunique()

(201, 201, 201)

In [82]:
#spot check
deaths_df_long.loc[deaths_df_long['Country/Region'] == 'US'].count()

Country/Region     1143
Lat                1143
Long               1143
Date               1143
Confirmed_death    1143
dtype: int64

In [83]:
#spot check
recovered_df_long.loc[recovered_df_long['Country/Region'] == 'US'].count()

Country/Region    1143
Lat               1143
Long              1143
Date              1143
Recovered         1143
dtype: int64

In [84]:
#spot check
confirmed_df_long.loc[confirmed_df_long['Country/Region'] == 'US'].count()

Country/Region    1143
Lat               1143
Long              1143
Date              1143
Confirmed         1143
dtype: int64

In [85]:
# merge all three datasets

full = pd.merge(deaths_df_long,recovered_df_long, how ='left', on = ['Country/Region','Date','Lat','Long']).merge(confirmed_df_long, how ='left', on = ['Country/Region','Date','Lat','Long'] )

In [86]:
#Validation

full['Country/Region'].nunique()

201

In [87]:
#Validation

full['Date'].value_counts().reset_index()['Date'].value_counts()

286    1143
Name: Date, dtype: int64

In [88]:
#Validation

full.loc[full['Country/Region'] == 'US'].count()

Country/Region     1143
Lat                1143
Long               1143
Date               1143
Confirmed_death    1143
Recovered          1143
Confirmed          1143
dtype: int64

In [89]:
full['Country/Region'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antarctica', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Diamond Princess', 'Djibouti', 'Dominica', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Korea, North', 'Korea, South', 'Kosovo', 'Kuwait', 'Kyrgyzstan',
       'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'MS Zaandam',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Summer Olympics 2020', 'Suriname',
       'Sweden', 'Switzerland', 'Syria', 'Taiwan*', 'Tajikistan',
       'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Tuvalu', 'US',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'West Bank and Gaza', 'Winter Olympics 2022', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [90]:
full.iloc[1140:1200]

,Country/Region,Lat,Long,Date,Confirmed_death,Recovered,Confirmed
1140,Afghanistan,33.93911,67.709953,2023-03-07,7896,0.0,209436
1141,Afghanistan,33.93911,67.709953,2023-03-08,7896,0.0,209451
1142,Afghanistan,33.93911,67.709953,2023-03-09,7896,0.0,209451
1143,Albania,41.15330,20.168300,2020-01-22,0,0.0,0
1144,Albania,41.15330,20.168300,2020-01-23,0,0.0,0
1145,Albania,41.15330,20.168300,2020-01-24,0,0.0,0
1146,Albania,41.15330,20.168300,2020-01-25,0,0.0,0
1147,Albania,41.15330,20.168300,2020-01-26,0,0.0,0
1148,Albania,41.15330,20.168300,2020-01-27,0,0.0,0
1149,Albania,41.15330,20.168300,2020-01-28,0,0.0,0
1150,Albania,41.15330,20.168300,2020-01-29,0,0.0,0
1151,Albania,41.15330,20.168300,2020-01-30,0,0.0,0
1152,Albania,41.15330,20.168300,2020-01-31,0,0.0,0
1153,Albania,41.15330,20.168300,2020-02-01,0,0.0,0
1154,Albania,41.15330,20.168300,2020-02-02,0,0.0,0
1155,Albania,41.15330,20.168300,2020-02-03,0,0.0,0
1156,Albania,41.15330,20.168300,2020-02-04,0,0.0,0
1157,Albania,41.15330,20.168300,2020-02-05,0,0.0,0
1158,Albania,41.15330,20.168300,2020-02-06,0,0.0,0
1159,Albania,41.15330,20.168300,2020-02-07,0,0.0,0
1160,Albania,41.15330,20.168300,2020-02-08,0,0.0,0
1161,Albania,41.15330,20.168300,2020-02-09,0,0.0,0
1162,Albania,41.15330,20.168300,2020-02-10,0,0.0,0
1163,Albania,41.15330,20.168300,2020-02-11,0,0.0,0
1164,Albania,41.15330,20.168300,2020-02-12,0,0.0,0
1165,Albania,41.15330,20.168300,2020-02-13,0,0.0,0
1166,Albania,41.15330,20.168300,2020-02-14,0,0.0,0
1167,Albania,41.15330,20.168300,2020-02-15,0,0.0,0
1168,Albania,41.15330,20.168300,2020-02-16,0,0.0,0
1169,Albania,41.15330,20.168300,2020-02-17,0,0.0,0
1170,Albania,41.15330,20.168300,2020-02-18,0,0.0,0
1171,Albania,41.15330,20.168300,2020-02-19,0,0.0,0
1172,Albania,41.15330,20.168300,2020-02-20,0,0.0,0
1173,Albania,41.15330,20.168300,2020-02-21,0,0.0,0
1174,Albania,41.15330,20.168300,2020-02-22,0,0.0,0
1175,Albania,41.15330,20.168300,2020-02-23,0,0.0,0
1176,Albania,41.15330,20.168300,2020-02-24,0,0.0,0
1177,Albania,41.15330,20.168300,2020-02-25,0,0.0,0
1178,Albania,41.15330,20.168300,2020-02-26,0,0.0,0
1179,Albania,41.15330,20.168300,2020-02-27,0,0.0,0
1180,Albania,41.15330,20.168300,2020-02-28,0,0.0,0
1181,Albania,41.15330,20.168300,2020-02-29,0,0.0,0
1182,Albania,41.15330,20.168300,2020-03-01,0,0.0,0
1183,Albania,41.15330,20.168300,2020-03-02,0,0.0,0
1184,Albania,41.15330,20.168300,2020-03-03,0,0.0,0
1185,Albania,41.15330,20.168300,2020-03-04,0,0.0,0
1186,Albania,41.15330,20.168300,2020-03-05,0,0.0,0
1187,Albania,41.15330,20.168300,2020-03-06,0,0.0,0
1188,Albania,41.15330,20.168300,2020-03-07,0,0.0,0
1189,Albania,41.15330,20.168300,2020-03-08,0,0.0,0
1190,Albania,41.15330,20.168300,2020-03-09,0,0.0,2
1191,Albania,41.15330,20.168300,2020-03-10,0,0.0,10
1192,Albania,41.15330,20.168300,2020-03-11,1,0.0,12
1193,Albania,41.15330,20.168300,2020-03-12,1,0.0,23
1194,Albania,41.15330,20.168300,2020-03-13,1,0.0,33
1195,Albania,41.15330,20.168300,2020-03-14,1,0.0,38
1196,Albania,41.15330,20.168300,2020-03-15,1,0.0,42
1197,Albania,41.15330,20.168300,2020-03-16,1,0.0,51
1198,Albania,41.15330,20.168300,2020-03-17,1,0.0,55
1199,Albania,41.15330,20.168300,2020-03-18,2,0.0,59

### Now the values in the Dataset is cumulative sum of that country let's compute the difference between each day

In [91]:
# Assuming your DataFrame is named 'full'
country_list = full['Country/Region'].unique()

all_results = []

# compute the differences in Confirmed cases, Recovered cases, and Confirmed_deaths for each day for each country
for country in country_list:
    result = full.loc[full['Country/Region'] == country][['Country/Region', 'Date','Lat','Long','Confirmed','Confirmed_death','Recovered']]
    result['Confirmed_diff'] = result['Confirmed'].diff()
    result['recovered_diff'] = result['Recovered'].diff()
    result['Confirmed_death_diff'] = result['Confirmed_death'].diff()
    result = result.reset_index(drop=True)
    all_results.append(result)

# Concatenate all the results into a single DataFrame
final_result = pd.concat(all_results, ignore_index=True)

final_result = final_result.fillna(0, inplace = False)

In [92]:
# For value check
final_result['month'] = final_result['Date'].apply(lambda x : x.strftime('%Y-%m'))

In [93]:
final_result

,Country/Region,Date,Lat,Long,Confirmed,Confirmed_death,Recovered,Confirmed_diff,recovered_diff,Confirmed_death_diff,month
0,Afghanistan,2020-01-22,33.939110,67.709953,0,0,0.0,0.0,0.0,0.0,2020-01
1,Afghanistan,2020-01-23,33.939110,67.709953,0,0,0.0,0.0,0.0,0.0,2020-01
2,Afghanistan,2020-01-24,33.939110,67.709953,0,0,0.0,0.0,0.0,0.0,2020-01
3,Afghanistan,2020-01-25,33.939110,67.709953,0,0,0.0,0.0,0.0,0.0,2020-01
4,Afghanistan,2020-01-26,33.939110,67.709953,0,0,0.0,0.0,0.0,0.0,2020-01
...,...,...,...,...,...,...,...,...,...,...,...
326893,Zimbabwe,2023-03-05,-19.015438,29.154857,264127,5668,0.0,0.0,0.0,0.0,2023-03
326894,Zimbabwe,2023-03-06,-19.015438,29.154857,264127,5668,0.0,0.0,0.0,0.0,2023-03
326895,Zimbabwe,2023-03-07,-19.015438,29.154857,264127,5668,0.0,0.0,0.0,0.0,2023-03
326896,Zimbabwe,2023-03-08,-19.015438,29.154857,264276,5671,0.0,149.0,0.0,3.0,2023-03
326897,Zimbabwe,2023-03-09,-19.015438,29.154857,264276,5671,0.0,0.0,0.0,0.0,2023-03

In [101]:
# Getting negative numbers doesn't make sense. Let's check what happened
final_result.loc[(final_result['Country/Region'] == 'Canada') & (final_result['month'] == '2020-01')]['Confirmed_diff'].sum()

-4613547.0

In [104]:
final_result.loc[(final_result['Country/Region'] == 'Canada')].describe()

,Lat,Long,Confirmed,Confirmed_death,Recovered,Confirmed_diff,recovered_diff,Confirmed_death_diff
count,16002.000000,16002.000000,1.600200e+04,16002.000000,16002.0,1.600200e+04,16002.0,16002.000000
mean,50.632543,-85.899850,1.413368e+05,1891.164167,0.0,2.206599e-01,0.0,0.000437
std,15.709238,34.757139,3.021658e+05,3891.923279,0.0,1.761109e+04,0.0,203.971266
min,0.000000,-135.000000,0.000000e+00,0.000000,0.0,-1.601325e+06,0.0,-18160.000000
25%,46.565300,-116.576500,2.580000e+02,1.000000,0.0,0.000000e+00,0.0,0.000000
50%,53.037700,-84.215400,6.784500e+03,61.000000,0.0,0.000000e+00,0.0,0.000000
75%,53.933300,-63.744300,1.279458e+05,1662.000000,0.0,1.110000e+02,0.0,1.000000
max,70.299800,0.000000,1.601325e+06,18160.000000,0.0,3.962500e+04,0.0,151.000000

In [105]:
final_result['Country/Region'].nunique()

201

In [106]:
final_result.describe()

,Lat,Long,Confirmed,Confirmed_death,Recovered,Confirmed_diff,recovered_diff,Confirmed_death_diff
count,326898.000000,326898.000000,3.268980e+05,3.268980e+05,3.268980e+05,3.268980e+05,3.268980e+05,326898.000000
mean,19.787665,22.259643,9.684601e+05,1.350702e+04,7.099819e+04,1.865663e+03,-6.118116e-06,19.978807
std,25.930355,77.859964,4.890578e+06,6.420627e+04,6.886536e+05,7.049314e+04,6.841326e+04,317.488383
min,-71.949900,-178.116500,0.000000e+00,0.000000e+00,-1.000000e+00,-3.861851e+07,-3.097475e+07,-161512.000000
25%,4.210484,-42.604300,7.120000e+02,3.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
50%,21.517170,20.972650,1.495400e+04,1.540000e+02,0.000000e+00,2.000000e+00,0.000000e+00,0.000000
75%,40.463667,90.356300,2.310360e+05,3.099000e+03,6.680000e+02,2.120000e+02,0.000000e+00,2.000000
max,71.706900,178.065000,1.038027e+08,1.123836e+06,3.097475e+07,1.354505e+06,1.123456e+06,11447.000000

**I have discovered that whenever a recovery case is reported, the number of confirmed cases decreases. For example, if there were five new confirmed cases today and two recoveries were reported tomorrow, the difference between today and yesterday in terms of confirmed cases would be negative. To address this, I am setting all negative differences to 0, meaning that no new confirmed cases will be assumed for that day. This approach allows me to account for the impact of recoveries on the number of confirmed cases and ensure that negative values do not skew the data.**

In [107]:
final_result[50:65]

,Country/Region,Date,Lat,Long,Confirmed,Confirmed_death,Recovered,Confirmed_diff,recovered_diff,Confirmed_death_diff,month
50,Afghanistan,2020-03-12,33.93911,67.709953,11,0,0.0,0.0,0.0,0.0,2020-03
51,Afghanistan,2020-03-13,33.93911,67.709953,11,0,0.0,0.0,0.0,0.0,2020-03
52,Afghanistan,2020-03-14,33.93911,67.709953,14,0,0.0,3.0,0.0,0.0,2020-03
53,Afghanistan,2020-03-15,33.93911,67.709953,20,0,0.0,6.0,0.0,0.0,2020-03
54,Afghanistan,2020-03-16,33.93911,67.709953,25,0,1.0,5.0,1.0,0.0,2020-03
55,Afghanistan,2020-03-17,33.93911,67.709953,26,0,1.0,1.0,0.0,0.0,2020-03
56,Afghanistan,2020-03-18,33.93911,67.709953,26,0,1.0,0.0,0.0,0.0,2020-03
57,Afghanistan,2020-03-19,33.93911,67.709953,26,0,1.0,0.0,0.0,0.0,2020-03
58,Afghanistan,2020-03-20,33.93911,67.709953,24,0,1.0,-2.0,0.0,0.0,2020-03
59,Afghanistan,2020-03-21,33.93911,67.709953,24,0,1.0,0.0,0.0,0.0,2020-03
60,Afghanistan,2020-03-22,33.93911,67.709953,34,0,1.0,10.0,0.0,0.0,2020-03
61,Afghanistan,2020-03-23,33.93911,67.709953,40,1,1.0,6.0,0.0,1.0,2020-03
62,Afghanistan,2020-03-24,33.93911,67.709953,42,1,1.0,2.0,0.0,0.0,2020-03
63,Afghanistan,2020-03-25,33.93911,67.709953,74,1,2.0,32.0,1.0,0.0,2020-03
64,Afghanistan,2020-03-26,33.93911,67.709953,80,2,2.0,6.0,0.0,1.0,2020-03

In [108]:
# Setting all negative values in Confirmed_diff to 0

final_result.loc[final_result['Confirmed_diff'] < 0, 'Confirmed_diff'] = 0

In [109]:
# check negatives within Confirmed_death_diff

final_result.loc[final_result['Confirmed_death_diff'] < 0]

,Country/Region,Date,Lat,Long,Confirmed,Confirmed_death,Recovered,Confirmed_diff,recovered_diff,Confirmed_death_diff,month
4222,Andorra,2022-03-25,42.506300,1.521800,39713,153,0.0,0.0,0.0,-2.0,2022-03
4832,Angola,2020-10-08,-11.202700,17.873900,5958,208,2635.0,233.0,37.0,-3.0,2020-10
9852,Armenia,2021-12-30,40.069100,45.038200,344826,7968,0.0,89.0,0.0,-2.0,2021-12
11430,Australia,2020-01-22,-37.813600,144.963100,0,0,0.0,0.0,0.0,-256.0,2020-01
12246,Australia,2022-04-17,-37.813600,144.963100,1454360,2839,0.0,7747.0,0.0,-1.0,2022-04
...,...,...,...,...,...,...,...,...,...,...,...
313182,United Kingdom,2020-01-22,54.236100,-4.548100,0,0,0.0,0.0,0.0,-66.0,2020-01
314325,United Kingdom,2020-01-22,55.378100,-3.436000,0,0,0.0,0.0,0.0,-116.0,2020-01
318997,Venezuela,2020-05-01,6.423800,-66.589700,335,10,148.0,2.0,6.0,-6.0,2020-05
320250,Vietnam,2020-08-19,14.058324,108.277199,994,25,533.0,5.0,7.0,-1.0,2020-08
321050,Vietnam,2022-10-28,14.058324,108.277199,11501906,43162,0.0,2549.0,0.0,-3.0,2022-10

In [110]:
# spots check

final_result.iloc[4220:4225]

,Country/Region,Date,Lat,Long,Confirmed,Confirmed_death,Recovered,Confirmed_diff,recovered_diff,Confirmed_death_diff,month
4220,Andorra,2022-03-23,42.5063,1.5218,39713,153,0.0,479.0,0.0,0.0,2022-03
4221,Andorra,2022-03-24,42.5063,1.5218,39713,155,0.0,0.0,0.0,2.0,2022-03
4222,Andorra,2022-03-25,42.5063,1.5218,39713,153,0.0,0.0,0.0,-2.0,2022-03
4223,Andorra,2022-03-26,42.5063,1.5218,39713,153,0.0,0.0,0.0,0.0,2022-03
4224,Andorra,2022-03-27,42.5063,1.5218,39713,153,0.0,0.0,0.0,0.0,2022-03

In [111]:
# Setting all negative values in Confirmed_death_diff to 0

final_result.loc[final_result['Confirmed_death_diff'] < 0 , 'Confirmed_death_diff'] = 0

In [112]:
# check negatives within recovered_diff

final_result.loc[final_result['recovered_diff'] < 0]

,Country/Region,Date,Lat,Long,Confirmed,Confirmed_death,Recovered,Confirmed_diff,recovered_diff,Confirmed_death_diff,month
416,Afghanistan,2021-03-13,33.939110,67.709953,55959,2454,49471.0,0.0,-28.0,0.0,2021-03
561,Afghanistan,2021-08-05,33.939110,67.709953,149361,6864,0.0,428.0,-82586.0,28.0,2021-08
1704,Albania,2021-08-05,41.153300,20.168300,133442,2457,0.0,132.0,-130314.0,0.0,2021-08
2348,Algeria,2020-03-24,28.033900,1.659600,264,19,24.0,34.0,-41.0,2.0,2020-03
2350,Algeria,2020-03-26,28.033900,1.659600,367,25,29.0,65.0,-36.0,4.0,2020-03
...,...,...,...,...,...,...,...,...,...,...,...
321280,West Bank and Gaza,2020-04-28,31.952200,35.233200,343,2,71.0,1.0,-12.0,0.0,2020-04
321744,West Bank and Gaza,2021-08-05,31.952200,35.233200,317534,3609,0.0,130.0,-312320.0,0.0,2021-08
324030,Yemen,2021-08-05,15.552727,48.516388,7104,1383,0.0,8.0,-4251.0,3.0,2021-08
325173,Zambia,2021-08-05,-13.133897,27.849332,198455,3447,0.0,664.0,-189658.0,17.0,2021-08
326316,Zimbabwe,2021-08-05,-19.015438,29.154857,114489,3754,0.0,963.0,-82994.0,43.0,2021-08

In [113]:
# spots check

final_result.iloc[413:420]

,Country/Region,Date,Lat,Long,Confirmed,Confirmed_death,Recovered,Confirmed_diff,recovered_diff,Confirmed_death_diff,month
413,Afghanistan,2021-03-10,33.93911,67.709953,55894,2451,49499.0,18.0,90.0,0.0,2021-03
414,Afghanistan,2021-03-11,33.93911,67.709953,55917,2451,49499.0,23.0,0.0,0.0,2021-03
415,Afghanistan,2021-03-12,33.93911,67.709953,55959,2454,49499.0,42.0,0.0,3.0,2021-03
416,Afghanistan,2021-03-13,33.93911,67.709953,55959,2454,49471.0,0.0,-28.0,0.0,2021-03
417,Afghanistan,2021-03-14,33.93911,67.709953,55985,2457,49477.0,26.0,6.0,3.0,2021-03
418,Afghanistan,2021-03-15,33.93911,67.709953,55985,2459,49481.0,0.0,4.0,2.0,2021-03
419,Afghanistan,2021-03-16,33.93911,67.709953,55995,2460,49499.0,10.0,18.0,1.0,2021-03

In [114]:
# Setting all negative values in recovered_diff to 0

final_result.loc[final_result['recovered_diff'] < 0, 'recovered_diff'] = 0

### Spot check

In [116]:
final_result.loc[(final_result['Country/Region'] == 'Canada') & (final_result['month'] == '2020-01')]['Confirmed_diff'].sum()

4.0

In [119]:
final_result.loc[(final_result['Country/Region'] == 'Canada') & (final_result['month'] == '2020-02')]['Confirmed_diff'].sum()

29.0

In [120]:
final_result.loc[(final_result['Country/Region'] == 'Canada') & (final_result['month'] == '2020-03')]['Confirmed_diff'].sum()

10679.0

In [121]:
final_result.loc[(final_result['Country/Region'] == 'US') & (final_result['month'] == '2020-01')]['Confirmed_diff'].sum()

7.0

In [122]:
final_result.loc[(final_result['Country/Region'] == 'US') & (final_result['month'] == '2020-02')]['Confirmed_diff'].sum()

17.0

In [123]:
final_result.loc[(final_result['Country/Region'] == 'US') & (final_result['month'] == '2020-03')]['Confirmed_diff'].sum()

192054.0

In [37]:
final_result.to_csv('final_result.csv', index=False)